//general
input[type="text"],
input[type="email"],
input[type="submit"] {
  font-size: rem(16);
  line-height: 1;
  padding: rem(20) rem(15);
  appearance: none;
  border: 1px solid $uniduck-border;
  max-width: 100%;

  @include placeholder {
    color: $uniduck-text-light;
  }
}

/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
